



.navegacion{
    width: 280px;
   
    min-height: 100vh;
}
.hidden {
    display: none;
  
}
.home{
    display: flex;
    width: 100%;
    align-items: stretch;
    
    
}

#wrapper {
    padding-left: 0;
    
}
.dropdown-item{
    cursor: pointer;
}
#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
    
}
#content{
    padding: 10px 17px;
    

}
.action-btn{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 25;
     
}
.action-btn .btn-new{
    grid-column: 25;
}

.search{
    border-color: #0d6efd !important;
    
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    

    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

.card-box {
    position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;

}
.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.card-box:hover .icon i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}
.card-box .inner {
    padding: 5px 10px 0 10px;
}
.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}
.card-box p {
    font-size: 15px;
}
.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}
.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
    background-color: #00c0ef !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-orange {
    background-color: #f39c12 !important;
}
.bg-red {
    background-color: #d9534f !important;
}